.metadata-card {
  position: relative;
  margin: 0 auto;
  max-width: 1800px;
  font-family: "Roboto", sans-serif;
}

.metadata-card img {
  width: 100%;
}

.metadata-list {
  list-style: none;
  position: absolute;
  z-index: 1;
  font-size: 1.25rem;
  color: white;
  text-shadow: #000 0 0 10px;
  display: none;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
}

.metadata-list li {
  position: relative;
  line-height: 2rem;
  padding-left: 2rem;
  align-items: center;
}

.icon-wrapper {
  position: absolute;
  top: 4px;
  left: 0;
}

.metadata-list--top-left {
  top: 1%;
  left: 1%;
}

.metadata-list--top-right {
  top: 1%;
  right: 1%;
}

.metadata-list--bottom-left {
  bottom: 1%;
  left: 1%;
}

.metadata-list--bottom-right {
  bottom: 1%;
  right: 1%;
}

.metadata-list--display {
  display: block;
}

.metadata-list--display:hover,
.metadata-list--display-opacity-one {
  opacity: 1;
}

.icon-overlay {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.close-icon-overlay {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: none;
  top: 0;
  right: 0;
}

.icon-overlay--top-left {
  top: 1%;
  left: 1%;
}

.icon-overlay--top-right {
  top: 1%;
  right: 1%;
}

.icon-overlay--bottom-left {
  bottom: 1%;
  left: 1%;
}

.icon-overlay--bottom-right {
  bottom: 1%;
  right: 1%;
}

.icon-overlay--display,
.close-icon-overlay--display {
  display: block;
}
